<select class="form-select form-select-sm" aria-label=".form-select-md example">
    <option selected>Tarifa</option>
        <option value="1">00111</option>
        <option value="2">02A21</option>
        <option value="3">00114</option>
        <option value="3">00112</option>
</select> <br>

<select class="form-select form-select-sm" aria-label=".form-select-sm example">
    <option selected>Falla</option>
        <option value="1">conexion directa sin medidor</option>
        <option value="2">conexion directa con medidor</option>
        <option value="3">bajada pinchada</option>
        <option value="4">bornera quemada</option>
        <option value="5">sin precintos</option>
        <option value="6">precintos cortaods</option>
        <option value="7">sin neutro</option>
        <option value="8">bornera quemada</option>
        <option value="9">medidor tumbado</option>
        <option value="10">display apagado</option>
        <option value="11">para normalizar</option>
        <option value="12">medidor con agua</option>
        <option value="13">puente entre fase</option>
        <option value="14">carcasa rota</option>
</select><br>

<label for="medidor" class="form-label">Medidor</label>
<input type="number" class="form-control" id="medidor">


<div class="mb-3">
<label for="observations" class="form-label">Observaciones</label>
<textarea class="form-control" id="observations" rows="3"></textarea>
</div>

</div>

<div class="d-grid gap-2">
<button type="button_save" class="btn btn-outline-primary">Guardar</button>
</div>

<!-- label for="KWH" class="form-label">KWH cargado</label>
<input type="number" class="form-control" id="KWH">

<label for="payment_date" class="form-label">fecha pago</label>
<input type="date" class="form-control" id="payment_date"><br>

<label for="receipt_number" class="form-label">número recibo</label>
<input type="number" class="form-control" id="receipt_number">
 
<label for="import" class="form-label">importe $</label>
<input type="number" class="form-control" id="import"> -->

</form>