<div class="card">
    <div class="card-body ">
        <form action="/registarTrabajo/" method="POST">{% csrf_token %}
            <div class="p-2 g-col-6">
                <input type="date" id="txt_fecha_work" class="form-control" autofocus>
            </div>
            <div class="p-2 g-col-6">
                <input type="text" id="txt_direccion" name="txt_address" class="form-control" placeholder="direccion" minlength="2" maxlength="50" required> 
            </div>
            <div class="p-2 g-col-6">
                <input type="text" id="text_name" class="form-control" placeholder="Apellido y Nombre" minlength="2" maxlength="50" >
            </div>
            <div class="p-2 g-col-6">
                <input type="number" id="txt_cliente" class="form-control" placeholder="Cliente" minlength="4" maxlength="7">
            </div>
            <div class="p-2 g-col-6">
                <input type="number" id="txt_ruta" class="form-control" placeholder="Ruta" minlenght="4" maxlength="4"> 
            </div>
            <div class="p-2 g-col-6">
                <select class="form-select form-select-sm" aria-label=".form-select-md example">
                    <option selected>Tarifa</option>
                        <option value="1">00111</option>
                        <option value="2">02A21</option>
                        <option value="3">00114</option>
                        <option value="4">00112</option>
                   </select>
            </div> 
            <div class="p-2 g-col-6">   
                   <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>Falla</option>
                         <option value="1">conexion directa sin medidor</option>
                         <option value="2">conexion directa con medidor</option>
                         <option value="3">bajada pinchada</option>
                         <option value="4">bornera quemada</option>
                         <option value="5">sin precintos</option>
                         <option value="6">precintos cortaods</option>
                         <option value="7">sin neutro</option>
                         <option value="8">bornera quemada</option>
                         <option value="9">medidor tumbado</option>
                         <option value="10">display apagado</option>
                         <option value="11">para normalizar</option>
                         <option value="12">medidor con agua</option>
                         <option value="13">puente entre fase</option>
                         <option value="14">carcasa rota</option>
                   </select>
            </div>
            <div class="p-2 g-col-6">
                <input type="number" id="txt_medidor" class="form-control" placeholder="Medidor N" minlenght="4" maxlength="20"> 
            </div>
            <div class="p-2 g-col-6">
              <textarea class="form-control" id="txt_observacion" placeholder="Observación" rows="5"></textarea>
            </div>
            <div class="p-2 g-col-6">
                <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
            </div>
        </form>
    </div>
</div>




<!--<div class="mb-3">
    <label for="date_work" class="form-label">Fecha</label>
    <input type="date" class="form-control" id="date_work" autofocus><br>

    <label for="address" class="form-label">Direccion</label>
    <input type="text" class="form-control" id="address">
    
    <label for="name" class="form-label">Apellido y Nombre</label>
    <input type="text" class="form-control" id="name">

    <label for="client" class="form-label">Cliente</label>
    <input type="number" class="form-control" id="client">

    <label for="route" class="form-label">Ruta</label>
    <input type="number" class="form-control" id="route"><br>



    <select class="form-select form-select-sm" aria-label=".form-select-md example">
     <option selected>Tarifa</option>
         <option value="1">00111</option>
         <option value="2">02A21</option>
         <option value="3">00114</option>
         <option value="4">00112</option>
    </select> <br>

    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
     <option selected>Falla</option>
          <option value="1">conexion directa sin medidor</option>
          <option value="2">conexion directa con medidor</option>
          <option value="3">bajada pinchada</option>
          <option value="4">bornera quemada</option>
          <option value="5">sin precintos</option>
          <option value="6">precintos cortaods</option>
          <option value="7">sin neutro</option>
          <option value="8">bornera quemada</option>
          <option value="9">medidor tumbado</option>
          <option value="10">display apagado</option>
          <option value="11">para normalizar</option>
          <option value="12">medidor con agua</option>
          <option value="13">puente entre fase</option>
          <option value="14">carcasa rota</option>
    </select><br>

    <label for="medidor" class="form-label">Medidor</label>
    <input type="number" class="form-control" id="medidor">


    <label for="observations" class="form-label">Observaciones</label>
    <textarea class="form-control" id="observations" rows="3"></textarea>
    <br>
    <button type="button" class="btn btn-primary">Guardar</button>

</div>

 label for="KWH" class="form-label">KWH cargado</label>
<input type="number" class="form-control" id="KWH">

<label for="payment_date" class="form-label">fecha pago</label>
<input type="date" class="form-control" id="payment_date"><br>

<label for="receipt_number" class="form-label">número recibo</label>
<input type="number" class="form-control" id="receipt_number">
 
<label for="import" class="form-label">importe $</label>
<input type="number" class="form-control" id="import"> -->

</form>