{% extends 'base.html' %}

{%block titulo %} {%endblock%}

{% block body %} 

    <div class="row align-items-start">
        <div class="col">
            <div class="p-2 g-col-6">
                <input type="date" id="txt_fecha_work" class="form-control" placeholder="Fecha">
            </div>
        </div>
        <div class="col">
            <div class="p-2 g-col-6">
                <input type="text" id="txt_direccion" class="form-control" placeholder="direccion">
            </div>
        </div>
        <div class="col">
            <div class="p-2 g-col-6">
                <input type="number" id="txt_cliente" class="form-control" placeholder="cliente">
            </div>
        </div>
        <div class="col">
            <div class="p-2 g-col-6">
                <input type="number" id="txt_ruta" class="form-control" placeholder="ruta">
            </div>
        </div>

        <div class="col">
           <div class="p-2 g-col-6">
             <button type="submit" class="btn btn-primary">Buscar</button>
           </div>
        </div>
        
    </div>        
<div class="card-body">
        <table class="table">
          <thead class="table-white">
              <tr>
                   <th>fecha</th>
                   <th>direccion</th>
                   <th>ruta</th>
                   <th>nombre y apellido</th>
                   <th>cliente</th>
              </tr>
            </thead>
        </table>
    </div>

{% endblock %}