/* *{  
    box-sizing: border-box;
    padding:0;
    margin:0;

}

#observations {
    resize:none;
}

.container {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
    margin: 5px;
    
    
} 

.columna-izq {
    flex-direction: column;
    justify-content: flex-end;

}
.align-items-start {
    width:100%;
    align-items: center;
} */